@import url("estilos.css");

html{
    filter: invert(1) hue-rotate(180deg);
}

html img, iframe{
    filter: invert(1) hue-rotate(180deg);
}

header, footer {
    background-color: var(--bg-color-5);
}

#temas-destacados, #cuerpo-humano, #A, #B, #error, #acne, #artritis, #bronquitis, #bruxismo {
    background-color:var(--bg-color-11)
}


    
