:root {
    --bg-color-1: #121212;  /* Fondo oscuro */
    --bg-color-2: #2f4f4f;  /* Fondo oscuro para header/footer */
    --bg-color-3: #232323;  /* Fondos oscuros */
    --bg-color-4: #2a2a2a;
    --bg-color-5: #333;
    --bg-color-6: #08c193;
    --color-1: #e0e0e0;     /* Texto claro */
    --color-2: #08c193;     /* Color de botones y enlaces */
    --font-size:18px;
    --line-height:1.6
    }
    
    body {
    font-family:'Times New Roman',Times,serif,sans-serif;
    font-size:var(--font-size);
    line-height:var(--line-height);
    color:var(--color-1);
    margin:0
    }

    main {
        background-color: var(--bg-color-1);
    }

    header,footer {
    justify-content:center;
    position:relative;
    z-index:10;
    background-color:var(--bg-color-2);
    color:#fff;
    padding:.2em 4.5em
    }
    
    a {
    color:var(--color-1);
    text-decoration:none
    }
    
    a:hover {
    text-decoration:underline
    }
    
    img {
    border-radius:15px
    }
    
    #temas-destacados {
    background-color:var(--bg-color-3)
    }
    
    #cuerpo-humano {
    background-color:var(--bg-color-4)
    }
    
    #informacion {
    background-color:var(--bg-color-1)
    }
    
    .boton-principal {
    background-color:var(--bg-color-6);
    color:var(--bg-color-1);
    border:1px solid var(--bg-color-6);
    border-radius:5em;
    font-weight:700;
    padding:.5em;
    font-size:18px;
    display:inline-block
    }
    
    .boton-principal:hover {
    color:var(--bg-color-6);
    background-color:var(--bg-color-1)
    }
    
    #indice-alfabetico ul,#temas-destacados ul,#informacion ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    place-content:space-between
    }
    
    header,main,nav,aside,footer {
    padding:1em
    }
    
    #temas-destacados li img {
    width:12em;
    height:7em
    }
    
    footer a {
    color:var(--color-1)
    }
    
    div.contenedor {
    width:1080px;
    margin:0 auto
    }
    
    form {
    width:100%;
    max-width:600px;
    margin:0 auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px #0000001a
    }
    
    form label {
    display:block;
    margin-bottom:5px;
    font-size:16px;
    color: var(--color-1);
    }
    
    form input,form select,form textarea {
    width:100%;
    padding:10px;
    margin-bottom:15px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:5px
    }
    
/* Modo noche para los botones del formulario */
form button { 
    width: 100%;
    padding: 10px;
    background-color: var(--bg-color-6); 
    color: var(--bg-color-1); 
    font-size: 16px;
    border: 1px solid var(--bg-color-1); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

form button:hover {
    background-color: #0b2b4c;
    color: var(--color-1)
}

/* Modo noche para el formulario de búsqueda */
.search-form {
    background-color: #2a2a2a; /* Fondo oscuro */
}

.search-form fieldset {
    border: 1px solid #888; /* Bordes claros */
    padding: 10px;
    margin-bottom: 15px;
}

.search-form legend {
    font-weight: 700;
    color: #ccc; /* Texto claro */
}

/* Modo noche para el formulario de contacto */
.contact-form {
    background-color: #2a2a2a; /* Fondo oscuro */
}

.contact-form textarea {
    height: 120px;
    resize: vertical;
    background-color: #333; /* Fondo oscuro para textarea */
    color: #fff; /* Texto claro */
    border: 1px solid #555; /* Borde tenue */
}

/* Modo noche para el formulario de préstamos */
.loan-form {
    background-color: #2a2a2a; /* Fondo oscuro */
}

.loan-form input[type="number"],
.loan-form input[type="tel"],
.loan-form input[type="color"],
.loan-form input[type="range"] {
    background-color: #333; /* Fondo oscuro para los inputs */
    color: #fff; /* Texto claro */
    border: 1px solid #555; /* Borde tenue */
    padding: 5px;
}

    
    /*Skip to main content*/
    .skip-link {
    position:absolute;
    top:-40px;
    left:0;
    background-color:#08c193;
    color:#000;
    padding:10px;
    text-decoration:none;
    z-index:100
    }
    
    .skip-link:focus {
    top:10px;
    left:10px
    }
    
    div.contenedor {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    #A, #B, #error, #acne, #artritis, #bronquitis, #bruxismo {
        background-color: var(--bg-color-5);
    }
    
    
    
    /* Sección añadida para iconos y caracteres Unicode */
    button {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em 1em;
        font-size: 1em;
    }
    
    .material-symbols-outlined {
        font-size: 1.5em; /* Ajuste del tamaño del icono */
        vertical-align: middle;
    }
    
    a:focus, button:focus {
        outline: 2px solid var(--color-2); /* Para mejorar la accesibilidad */
    }
    
    
    /*Responsive design*/
    /* Pantallas de baja resolución (480px o menos) */
    @media (max-width: 480px) {
        header, footer {
            padding: 0.5em 1em; /* Ajustar paddings para pantallas más pequeñas */
        }
    
        .boton-principal {
            font-size: 14px; /* Ajustar el tamaño de los botones */
            padding: 0.3em;
        }
    
        div.contenedor {
            width: 100%;
        }
    
        /* Columnas apiladas para pantallas pequeñas */
        #indice-alfabetico ul, #temas-destacados ul, #informacion ul {
            flex-direction: column;
        }
    }
    
    /* Pantallas medianas (entre 481px y 1024px) */
    @media (min-width: 481px) and (max-width: 1024px) {
        header, footer {
            padding: 0.5em 3em;
        }
    
        div.contenedor {
            width: 85%;
        }
    }
    
    /* Pantallas grandes (1025px a 1920px) */
    @media (min-width: 1025px) {
        header, footer {
            padding: 0.5em 4.5em;
        }
    
        div.contenedor {
            max-width: 1200px;
        }
    
        #indice-alfabetico ul, #temas-destacados ul, #informacion ul {
            display: flex;
            place-content: space-between;
        }
    }
    
    /* Pantallas extra grandes (más de 1920px) */
    @media (min-width: 1921px) {
        div.contenedor {
            max-width: 1400px;
        }
    
        header, footer {
            padding: 1em 6em;
        }
    }
    
    .table-responsive {
        width: 100%;
        overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
        margin-bottom: 20px;
    }
    
    /* Espaciado y distribución */
    #articulos-medicos, #medicamentos1 {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #articulos-medicos caption h4, #medicamentos1 caption h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    #articulos-medicos th, #articulos-medicos td, #medicamentos1 th, #medicamentos1 td {
        padding: 12px 15px;
        text-align: left;
    }
    
    #articulos-medicos th, #medicamentos1 th {
        background-color: #2f4f4f;
        color: #e0e0e0;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    #articulos-medicos tbody, #medicamentos1 tbody  {
        background-color: #2a2a2a;
    }
    
    
    #articulos-medicos a, #medicamentos1 a {
        color: #92e0d1;
        text-decoration: none;
    }
    
    #articulos-medicos a:hover, #medicamentos1 a:hover {
        text-decoration: underline;
    }


    tr:nth-child(even) {
        background-color: #1f1f1f; /* Alterna el color de las filas para mejor visibilidad */
    }
    
    #articulos-medicos th, #articulos-medicos td, #medicamentos1 th, #medicamentos1 td {
        border-bottom: 1px solid #ffffff;
        text-align: left;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        font-size: 18px; /* Tamaño uniforme de 18px */
        padding: 10px; /* Espaciado entre texto y borde */
        border: 1px solid #fff; /* Bordes para las celdas */
        text-align: left; /* Alineación del texto */
        vertical-align: top; /* Alineación vertical para mantener el contenido en la parte superior */
    }
    
    /* Ajustar las celdas de la tabla para que tengan el mismo ancho */
    th, td {
        width: auto;
        word-wrap: break-word; /* Ajustar el contenido a la celda */
    }
    
    th {
        background-color: #006400; /* Color de fondo para el encabezado */
        color: white; /* Color del texto del encabezado */
    }
    
    table {
        table-layout: fixed; /* Garantiza que las columnas tengan un ancho fijo */
    }
    form {
        text-align: left;
    }
    footer .direccion, .url {
        display: none;
    }