@import url("estilos.css");

:root {
    --bg-color-1:#f7f7f7;
    --bg-color-2:#325171;
    --bg-color-3:#81c7fa;
    --bg-color-4:#5cc2f9;
    --bg-color-5: #9cd2f4;
    --color-1:#585858;
    --color-2:#4a4a4a;
    --font-size:18px;
    --line-height:1.6
}

    
    